<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="ConnectionString"
       providerName="System.Data.SqlClient"
       connectionString="Server=tcp:filmsdbc.database.windows.net;Database=fdbc_up;User ID=fuhgc@filmsdbc;Password=D32wsxzaq1;Trusted_Connection=False;Encrypt=True;"></add>
  </connectionStrings>
</configuration>