<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Data.SqlClient" version="4.8.3" targetFramework="net472" />
  <dependentAssembly>
    <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
  </dependentAssembly>
</packages>
